#intro
  %h2
    Grupo de desenvolvedores <strong>Ruby</strong> do <strong>Rio</strong> de Janeiro

.clear

.meeting
  %span#countdown
    &nbsp;&nbsp;&nbsp;&nbsp;Faltam
    %span#days_count
    %span#hours_count
    %span#minutes_count
    %span#seconds_count

  .info
    <strong>RubyOnRio</strong><br />
    Data: Sábado, <time id="event" datetime="2010-09-11">11 de Setembro de 2010</time> (à confirmar)<br />
    Horário: das 10 às 17 (à confirmar)<br />
    Local: À confirmar<br />
    <!-- <iframe frameborder="0" marginwidth="0" marginheight="0" border="0" style="border:0;margin:0;width:620px;height:375px;" src="http://www.google.com/uds/modules/elements/mapselement/iframe.html?maptype=roadmap&amp;latlng=-22.91496%2C-43.177904&amp;mlatlng=-22.91496%2C-43.177904&amp;maddress1=R.%20da%20Lapa%2C%2041%20-%20Centro&amp;maddress2=Rio%20de%20Janeiro%20-%20RJ%2C%2020021-180%2C%20Brasil&amp;zoom=17&amp;mtitle=Bar%20Ernesto%20-%20Largo%20da%20Lapa%2C%2041%20-%20Esquina%20com%20Theot%C3%B4nio%20Regadas" scrolling="no" allowtransparency="true"></iframe> -->

.tweet

.clear
