#intro
  %h1
    Grupo de desenvolvedores <strong>Ruby</strong> do <strong>Rio</strong> de Janeiro

.clear

.meeting
  %span#countdown
    &nbsp;&nbsp;&nbsp;&nbsp;Faltam
    %span#days_count
    %span#hours_count
    %span#minutes_count
    %span#seconds_count

  .info
    <strong>III Encontro RubyOnRio</strong><br />
    Data: Sábado, <time id="event" datetime="2010-09-18">18 de Setembro de 2010</time><br />
    Horário: das 10:00h às 17:00h<br />
    Local: UFRJ - Universidade Federal do Rio de Janeiro - Avenida Venceslau Brás, 71 - Botafogo, Rio de Janeiro -RJ, 22290-140 <br />
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps/ms?ie=UTF8&amp;msa=0&amp;msid=104842004457013895815.00048fe7baed6bb45fa28&amp;t=h&amp;ll=-22.952861,-43.175604&amp;spn=0.014641,0.01929&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com.br/maps/ms?ie=UTF8&amp;msa=0&amp;msid=104842004457013895815.00048fe7baed6bb45fa28&amp;t=h&amp;ll=-22.952861,-43.175604&amp;spn=0.014641,0.01929&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>
.tweet

.clear
