!!! 5
%html
  %head
    %title Ruby on Rio
    %meta{:charset => 'utf-8'}
    %link{:href => 'application.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Neuton', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:bold', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'jquery.tweet.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', :type => 'text/javascript'}
    %script{:src => 'jquery.tweet.js', :type => 'text/javascript'}
    %script{:src => 'application.js', :type => 'text/javascript'}

  %body
    #header_container.clearfix
      #header
        #logo
          %h1
            %a{:href => '/'}
              %img{:src => 'logo2.png'}
        #menu
          %ul
            %li
              %a{:href => 'http://groups.google.com.br/group/rubyonrio'} Google Group
            %li
              %a{:href => 'http://www.github.com/rubyonrio'} Github
            %li
              %a{:href => 'http://twitter.com/rubyonrio'} Twitter
            %li
              %a{:href => 'http://scr.im/rubyonrio'} Email

    #content_container.clearfix
      #content
        #intro
          %h2
            Grupo de desenvolvedores <strong>Ruby</strong> do <strong>Rio</strong> de Janeiro

        .clear

        .meeting
          .info
            <strong>RubyOnRio</strong><br />
            Data: Sábado, 11 de Setembro de 2010 (à confirmar)<br />
            Horário: das 10 às 17 (à confirmar)<br />
            Local: À confirmar<br />
            <!-- <iframe frameborder="0" marginwidth="0" marginheight="0" border="0" style="border:0;margin:0;width:620px;height:375px;" src="http://www.google.com/uds/modules/elements/mapselement/iframe.html?maptype=roadmap&amp;latlng=-22.91496%2C-43.177904&amp;mlatlng=-22.91496%2C-43.177904&amp;maddress1=R.%20da%20Lapa%2C%2041%20-%20Centro&amp;maddress2=Rio%20de%20Janeiro%20-%20RJ%2C%2020021-180%2C%20Brasil&amp;zoom=17&amp;mtitle=Bar%20Ernesto%20-%20Largo%20da%20Lapa%2C%2041%20-%20Esquina%20com%20Theot%C3%B4nio%20Regadas" scrolling="no" allowtransparency="true"></iframe> -->

        .tweet

        .clear

    #footer_container.clearfix
      #footer
        %a{:href => 'http://www.github.com/rubyonrio/rubyonrio'}Fork me on GitHub
